// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  height: 800px;
  margin-top: 0px;
  
body {
  background-color:light-grey;
}

.card {
  display:flex;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  height: 120px;
  background: white;
  padding: 10px;
}
