.background-image {
  background-image: url(https://res.cloudinary.com/debjoekzj/image/upload/v1574265012/meow_rucbvu.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items:center;
  justify-content:center;
  display:flex;
}

* {
  font-family: 'Alata', sans-serif;
}
