

<div class="banner" style="background-image: url(https://res.cloudinary.com/debjoekzj/image/upload/v1574178878/home_page_dlkfnd.png);">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Book a class, learn a new skill</h1>
      </div>
    </div>
  </div>
</div>
