<div class="background-image">
<div class="searchBox">
<h2>Search Liife lessons!</h2>
<form>
<input type="text" value="Search Lessons" style="color:grey">
<input type="text" value="London, Melbourne..." style="color:grey">
<input type="submit"><br><br>
<button style="color:white!important;"><%= link_to "View all lessons", lessons_path %></button>
</form>
</div>
</div>
