<div class="row justify-content-around align-items-center">
        <div class="search-box">
          <h1>Book a class, learn a new skill!</h1>
          <div class="seach-bar"></div>
        </div>
    </div>
  </div>

