<div class="container">
 <%= simple_form_for @lesson do |f| %>
 <%= f.input :speciality, collection: ["math", "english", "spanish", "geographahaha"] %>
 <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
</div>
