<div class="lesson-banner" style="background-color: #00A469;">
  <div class="search-bar-lessons">
      <h1><%= @lesson.speciality %> Mentors in</h1>
  </div>
</div>

<div class="lesson-container">

  <% @lessons.each do |lesson| %>
    </div>
  <% end %>
</div>
