
.background-image {
    background-image: url("https://res.cloudinary.com/debjoekzj/image/upload/v1574258703/home_page_new_u8ccg1.png");
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

