.lesson-container{
  padding:20px;
  margin: 200px 205px 15px 205px;

}

.lesson-banner{
  position: absolute;
  background-size: cover;
  background-position: center;
  padding: 15px;
  width: 100%;
  top: 0;
  background-color: #00A469;
  height: 250px;
  z-index: -1000;
}
