.navbar {
  justify-content: space-between;
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0.224) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-color: transparent;

}

.navbar-fixed {
  position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: white!important;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
