.profileBox {
  width:60%;
  height:60%;
  background-color: #00A469;
  border-radius: 5px;
  border: 5px solid #0C8459;
  color: white;
  text-align: center;
  padding:20px;
  justify-content: space-around;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.EditProfile {
  color: #0C8459;
  background-color: transparent;
  text-decoration: none ;
  position: relative;
  left: 45%;
  bottom: 10%;
}

.EditProfile:hover {
  color: white;
}

.profileBox img{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-size: cover;
  border: solid;
}

.UserName {
  position: relative;
  left: 0px;
  h3{
  font-family: "Roboto", sans-serif !important;
  font-weight: bold !important;
  }
  }














