.search-box{
    display: flex;
    position: absolute;
    width:30%;
    height:30%;
    background: #00A469;
    border-radius: 5px;
    flex-wrap: wrap;
    border: 12px solid #0C8459;
    color: white;
    justify-content: space-around;
    margin: 0 auto;

      h1 {
        font-family: 'Roboto', sans-serif!important;
        font-weight: bold;
        font-size: 25px;
        padding-top: 18px;
      }
  }

// .seach-bar {
//   background-color: grey;
//   padding: 5px;
//   width: 650px;
//   height: 90px;

// }
