// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import '../node_modules/bootstrap/scss/functions';
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #FFFFFF;
  h1{font-weight: bold!important;
    font-size: 40px;}
}

* {
  font-family: 'Roboto', sans-serif;
}

